@font-face {
  font-family:Meloso;
  src: url(fonts/Rachel\ Kick\ -\ Meloso\ Regular.ttf);
}

@font-face {
  font-family: melosob;
  src: url(fonts/Rachel\ Kick\ -\ Meloso\ Extra\ Bold.otf);
}

@font-face {
  font-family:Secret;
  src: url(fonts/Secretv2.ttf);
}

@font-face {
  font-family: melosob;
  src: url(fonts/Rachel\ Kick\ -\ Meloso\ Extra\ Bold.otf);
}
@keyframes boot {
  from { transform: translateY(-200px);}
}

@keyframes boot1 {
  from { transform: translateX(-200px);}
}

@keyframes boot1a {
  from { transform: translateX(-220px);}
}

@keyframes boot1b {
  from { transform: translateX(-240px);}
}

@keyframes boot1c {
  from { transform: translateX(-250px);}
}

@keyframes boot2 {
  from { transform: translateY(200px);}
}

@keyframes boot3 {
  from { transform: translateY(200px);}
}

@keyframes fadeout {
  
}


a:link {
  color: blueviolet;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(222, 120, 120);
  background-color: transparent;
}

a:active {
  color: rgb(197, 84, 50);
  background-color: transparent;
}
#eiki {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  animation-name: boot3;
  animation-duration: 2s;
  position: relative;
  transition: ease-in-out 400ms;
}

.stupid {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  animation-name: boot3;
  animation-duration: 2s;
  position: relative;
  transition: ease-in-out 400ms;
  width: 500px;
}
#eiki:hover {
  transform: scale(101%);
}
body {
  background-image:url(/images/shinobu.jpg);
  padding: 0;
  margin:0;
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  Left: 0;
  top: 0;
}

section {
  font-family: secret;
  font-size: 17px;
}

.top {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  animation-name: boot;
  animation-duration: 2s;
  position: relative;
  transition: ease-in-out 630ms;
}



#nick {
  border: 4px double;
  border-radius: 10px;
  padding: 10px 10px;
  width: 63%;
  background-color: rgba(0, 0, 0,0.7);
  color: gold;
  border-color: #B2B2F9;
}

#nick:hover::before {
  clip-path: circle(20rem at center);
}



.warn {
  background-color: red;
  color: white;
  display: none;
  width: 350px;
  padding: 10px 10px;
  border: #ff0000;
  border-radius: 10px;
}

.mid:hover{
  transform: scale(101%);
}

#lol {
  width: 300px;
}




.rank {
  display: flex;
  justify-content: center;
}

.IMPORTANT {
  text-align: center;
  font-size: 22px;
}

#lule {
  width: 300px;
  float: left;
  margin-left: 70px;
}

#cock {
  padding: 10px 10px;
  transition:ease-in-out 500ms;
}

#cock:hover{
  transform: scale(101%);
}


#line {
  clear: left;

}

#pinku {
  color: pink;
}
#shijima {
  border: none;
  border-radius: 8px;
  float: left;
  margin-left: 10PX;
  margin-right: 12px;
  height: 120px;
}



.box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 8px;
  gap: 12PX;
}
.box1 {
  border: 4px double ;
  border-radius: 10px;
  padding: 14px 14px;
  background-color: rgba(0, 0, 0,0.7);
  color: #B2B2F9;
  border-color: white;
  transition: ease-in-out 650ms;
  display: flex;
  flex-direction: column;
  width: 800px;
  position: relative;
  flex-wrap: nowrap;
  animation-name: boot1a;
  animation-duration: 2s;
}

.box2 {
  border: 4px double ;
  border-radius: 10px;
  padding: 14px 14px;
  background-color: rgba(0, 0, 0,0.7);
  color: #B2B2F9;
  border-color: white;
  transition: ease-in-out 650ms;
  display: flex;
  flex-direction: column;
  width: 200PX;
  position: relative;
  animation-name: boot2;
  animation-duration: 2s;
}

.box2:hover{
  transform: scale(101%);
}

.box1:hover{
  transform: scale(101%);
}
.asianp {
  font-size: 17px;
}
.whatilike {
  text-align: left;
}

.test {

}
#foot {
  font-size: 10px;
  opacity: 50%;
}
#helo {
  font-size: 33px;
}

.hitagi {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
.sakuya {
  position: fixed;
  bottom: 0px;
  width: 200px;
}
.fuck {
  display: block;
}
#kita {
  float: right;
  width: 190px;
  margin: 10px;
  border-radius: 10px;
}
.haha:hover{
  transform: scale(101%);
}

.whatihate {
  text-align: right;
}
.thelist {
  list-style-position: inside;
  text-align: right;
}

#fumo {
  float: left;
  margin: 10px;
  border-radius: 4px;
}

.box22 {
  text-align: center;
}

.twat {
  text-decoration: none;
}
#later {
  padding-top: 10px;
}

#anime {
  padding: 10px 10px;
  transition: ease-in-out 500ms;
}

#anime:hover{
  transform: scale(101%);
}
 .under {
  text-decoration: none;
  transition: ease 650ms;
  cursor: pointer;
 }

a:hover::before {
  transform: scaleX(1);
}
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.show {
  opacity: 0;
}

@media (max-width:1110px) {

.box {
  display: block;
}
  
.box1 {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
}

.box2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 550px;
  margin-top: 30px;
}
  
.warn {
  display: block;
  margin-top: 20px;
  transition: ease-out 500ms;
}

.haha {
  width: 700px;
  margin: auto;
  margin-top: 20px;
}

.leleft {
  display: none;
}

.ach {
  display: none;
}

#lule {
  display: block;
}

#anime {
  display: block;
  float: none;
  margin: 0 auto;
}

.warn {
  margin: 0 auto;
  margin-top: 20px;
  transition: ease-out 500ms;
}
#nick::before {
display:none;
}
}

@media (max-width:700px) {

  .box {
    display: block;
    text-align: center;
  }
    
  .box1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  #kita {
    float: none;
  }
  
  .hitagi, .sakuya {
    display: none;
  }
  .box2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 280px;
    margin-top: 30px;
    text-align: center;
  }

  #shijima {
    float: none;
    padding: 10px;
  }

  #eiki {
    width: 240px;
  }
  .stupid {
    width: 200px;
  }

.warn {
  display: block;
  transition: ease-out 500ms;
  margin-top: 20px;
}

  #anime {
    display: block;
    float: none;
    margin: 0 auto;
  }
#nick::before {
display:none;
}
  
  }

.ex {
  margin: 0 auto;
  text-align: center;
  opacity: 0.50;
  padding-top: 10px;
  margin-bottom: 20px;
}
