

.pilgrim {
    border-radius: 10px;
    border: double 4px grey;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 26%;
    margin-right: 26%;
    position: relative;
    font-family: Haettenschweiler;
    margin-top: 2%;
    padding-top: 1%;
    isolation: isolate;
    
  }

a {
  text-decoration: none;
  color: #B2B2F9;;
}
.pilgrim::before {
    content: "";
    background-color: rgb(223, 255, 255);
    position:absolute;
    inset: 0;
    top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.50;
  }

  .hea1, .pp, .hee2, .bocks1, .bockss, .pilgrim, .pp2, .cuc{
    isolation: isolate;
  }

.ppl {
    border-radius: 10px;
    border: double 4px grey;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    font-family: Haettenschweiler;
    margin-top: 2%;
    padding-top: 1%;
    isolation: isolate;
  }
  
.ppl::before {
    content: "";
    background-color: rgb(227, 182, 238);
    position:absolute;
    inset: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
  }

.eiki {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-bottom:5px;
  }

.bocks1 {
  border-radius: 10px;
  border: double 4px grey;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 23%;
  margin-right: 23%;
  position: relative;
  font-family: Haettenschweiler;
  margin-top: 2%;
  padding-top: 1%;
  isolation: isolate;
  }
  
.bocks1::before {
  content: "";
  background-color: rgb(217, 219, 238);
  position:absolute;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  }

body {
  background-image:url(https://i.ibb.co/pWywQpg/Konachan-com-374467-animal-ass-beach-bird-breasts-chain-dress-gloves-horns-long-hair-no-bra-nopan-or.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  Left: 0;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #B2B2F9;;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #FF6767;
}

.navbar {
  padding: 1px 2px;
  border: 4px double;
  border-radius: 8px;
  background-color: rgba(19, 19, 22, 0.7);
  border-color: white;
}

.navbar ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 3px 13px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

@media (max-width:1000px) {

.pilgrim {
  width: 250px;
  margin: 0 auto;
}

.bocks1 {
  overflow: auto;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.bocks1::before {
  height: 450px;
}
}
