@font-face {
  font-family:Meloso;
  src: url(fonts/Rachel\ Kick\ -\ Meloso\ Regular.ttf);
}

@font-face {
  font-family: melosob;
  src: url(fonts/Rachel\ Kick\ -\ Meloso\ Extra\ Bold.otf);
}

::-webkit-scrollbar {
  color: #000000;
}

::-webkit-scrollbar-button {
  color: aqua;
}
a {
  text-decoration: none;
  color: #B2B2F9;;
}

  .hea1, .pp, .hee2, .bocks1, .bockss, .pilgrim, .pp2, .cuc{
    isolation: isolate;
  }

.eiki {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

body {
  background-image:url(https://i.ibb.co/0cLrCBk/1708440375143990.jpg);
  padding: 0;
  margin:0;
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  Left: 0;
  top: 0;
  
}

section {
  font-family: meloso;
}
a {
  text-decoration: none;
  color: #B2B2F9;;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #FF6767;
}

.top {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;

}

#nick {
  border: 4px double;
  border-radius: 10px;
  padding: 10px 10px;
  width: 63%;
  background-color: rgba(0, 0, 0,0.7);
  color: gold;
  border-color: #B2B2F9;
}

.huge {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  gap: 40PX;
}

.leleft {
  display: flex;
  flex-direction: column;
}

.ni {
  border: 4px double ;
  border-radius: 10px;
  padding: 5px 5px;
  width: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0,0.7);
  color: #B2B2F9;
  border-color: white;
}

.mid {
  border: 4px double ;
  border-radius: 10px;
  padding: 8px 8px;
  width: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0,0.7);
  color: #B2B2F9;
  border-color: white;
  margin-top: 20px;
}

#lol {
  width: 300px;
}

.leright {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.purpose {
  border: 4px double;
  border-radius: 10px;
  padding: 14px 14px;
  background-color: rgba(0, 0, 0,0.7);
  color: #B2B2F9;
  border-color: white;
  width: 850px;
}

#lulee {
  width: 300px;
  float: right;
  margin-right: 70px;
}

.over {
  display: inline-flex;
  gap: 70px;
}

.rank {
  display: flex;
  justify-content: center;
}
#lule {
  width: 300px;
  float: left;
  margin-left: 70px;
}

#sus {
  font-size:6px;
}


.haha {
  border: 4px double ;
  border-radius: 10px;
  padding: 14px 14px;
  background-color: rgba(0, 0, 0,0.7);
  color: #B2B2F9;
  border-color: white;
  margin-top: 20px;
  width: 850px;
}
#lap {
  float: left;
  padding: 10px 10px;
}

#ara {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 10px;
}

#later {
  padding-top: 10px;
}

#anime {
  float: right;
  padding: 10px 10px;
}
.test {
  display: flex;
  flex-direction: column;
  
}

.navbar {
  padding: 1px 2px;
  border: 4px double;
  border-radius: 8px;
  background-color: rgba(19, 19, 22, 0.7);
  border-color: white;
  font-size: 16px;
  margin-bottom:20px;
}


.navbar ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 3px 13px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.show {
  opacity: 0;
}

@media (max-width:1110px) {
body {
  background-image: url(https://i.ibb.co/GvXzD7T/1704405940511327.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pilgrim {
  width: 250px;
  margin: 0 auto;
  margin-top: 25px;
}

.bocks1 {
  overflow: auto;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 23px;
}

.bocks1::before {
  height: 450px;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.leleft {
  display:none;
}
}

