@font-face {
    font-family: azukiP;
    src: url(/fonts/azukiP.ttf);
}

@font-face {
    font-family: optima;
    src: url(/fonts/optima.ttf);
}

@font-face {
    font-family: meloso;
    src: url(/fonts/meloso.ttf);
}

@font-face {
    font-family: swirls;
    src: url(/fonts/swirls.ttf);
}

@font-face {
    font-family: handwriting;
    src: url(/fonts/handwriting.ttf);
}

@font-face {
    font-family: fallbackc;
    src: url(/fonts/fallbackc.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: azukiP;
}

body {
    background-color: #232136;
    /* background-image: url(/__saigyou_ayakashi_touhou_and_1_more_drawn_by_xumi__6ca4673a0e7bd6e018bccb1a961aac5e.jpg);
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(5px);
}

#oneko {
    background-image: url(/oneko.js-main/oneko.gif);
    position: absolute;
    pointer-events: none;
}
.box {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    font-family: azukiP;
    gap: 25px;
    margin-top: 30px;
}

.box1 {
    font-size: 20px;
    border: 1px solid;
    display: flex;
    /* justify-content: center; */
    width: 600px;
    text-align: center;
    color: #e0def4;
    border-color: white;
    /* transition: ease 250ms; */
    flex-direction: column;
    flex-wrap: nowrap;
    clear: both;
    padding: 20px;
    /* margin: 20px; */
    line-height: 30px;
    background-color: #232136;
}

#star {
    width: 20px;
}

.box2 {
    font-size: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    width: 200px;
    color: #e0def4;
    border-color: white;
    transition: ease 250ms;
    /* flex-direction: column;
    flex-wrap: nowrap; */
    padding: 5px 20px 20px 20px;
    background-color: #232136;
    height: 303px;
    line-height: 30px;
    margin-right: 22px;
}

#monkey {
    width: 20px;
}

.socials {
    /* padding-left: 10px; */
    margin: 0 auto;
}

.sociallist {
    list-style: none;
    text-align: center;
    line-height: 40px;
    transition: ease-in-out 200ms;
}

.sociallist a {
    color: #e0def4;
    text-decoration: NONE;
    transition: ease-in-out 300ms;
}
.sociallist a:hover {
    text-decoration: underline;
    color: #9ccfd8;
}

a {
    color: #f6c177;
      background-color: transparent;
      text-decoration: none;
}

a:visited {
        color: none;
      background-color: transparent;
      text-decoration: none;
}

a:active {
    color: #ea9d34;
}
.hi {
    margin-top: 6px;
    padding: 5px 3px 5px 3px;
}
#shijima {
    width: 100px;
    float: left;
    border-radius: 2px;
    padding-right: 9px;
}

#aboutme {
    padding: 2px 0 8px 0;
    font-size: 20px;
}
#aboutme span:hover {
    text-decoration: underline;
}

.box3 {
    display: flex;
    justify-content: center;
    margin: 10px;
 
}

.box3 ul {
    list-style: none;
    display: flex;
    border: 1px solid;
    border-color: white;
    padding: 10px;
    margin: 5px;
    gap: 20px;
    transition: ease 250ms;
}
.box4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    color: #e0def4;
    transition: ease 200ms;
    flex-direction: column;
    flex-wrap: nowrap;
    clear: both;
    padding: 20px;
    margin: 20px;
    line-height: 30px;
    background-color: #232136;
}

.box5 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 1200px;
    text-align: center;
    color: #e0def4;
    transition: ease 200ms;
    flex-direction: column;
    flex-wrap: nowrap;
    clear: both;
    padding: 20px;
    margin: 20px;
    line-height: 30px;
    background-color: #232136;
}

.box6 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 40px;
    text-align: center;
    color: #e0def4;
    transition: ease 200ms;
    flex-direction: column;
    flex-wrap: nowrap;
    clear: both;
    padding: 5px;
    margin: 8px;
    line-height: 30px;
    background-color: #232136;
}
.welcome, .welcome1 {
    color: #f2e9e1;
    transition: ease 200ms;
    padding: 0px 8px 0px 8px;
}

.welcome1 {
    margin: 0 auto;
}
.box1:hover >.welcome, .box2:hover >.welcomem, .box1:hover >.welcome1, .box2:hover >.welcome1{
    color: #ea9a97;
}

.box1:hover, .box2:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover {
    border-color: #ea9a97;
}
#line1 {
    width: 100%;
    transition: ease 200ms;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box1:hover > #line1, .box2:hover > #line1, .box4:hover > #line1, .box5:hover > #line1, .box6:hover > #line1, .box7:hover > #line1 {
    color:#ea9a97 ;
}


.box3 ul:hover {
    border-color: #ea9a97 ;
}

#cave {
    text-align: left;
    margin-bottom: 8px;
    padding-bottom: 8px;
    margin-top: 0;
    padding-top: 0;
}

.frieren {
    display: flex;
align-items: center;
  justify-content: center;
}

.fren {
    text-decoration: underline;
    transition: ease-in-out 200ms;
}

.visible {
    z-index: 1;
    transition: ease-in-out 200ms;
}


.invisible {
    z-index: -1;
    transition: ease-in-out 200ms;
}

/* .saya {
    transition: ease-in-out 200ms;
}
.saya:hover ~ .visible {
    display: none;
    z-index: -1;
    transition: opacity 1s;
}

.saya:hover ~ .invisible {
    display: block;
    z-index: 1;
    transition: opacity 1s;
} */
@media only screen and (max-width:700px) {
.box {
    display: block;
}

.box1, .box2, .box4, .box5, .box6, .box7 {
    display: block;
    width: 280px;
    margin: 0 auto;
}

.box2 {
    margin-top: 20px;
}

.box6 {
    width: 77px;
}

.box6 {
    margin-bottom: 24px;
}

.frieren {
    display: none;
}
}

@media only screen and (min-width:700px) and (max-width:1000px){
.box {
    display: block;
}

.box1 {
    width: 500px;
}

.box1, .box4, .box5, .box6 {
    display: block;
    /* width: 242px; */
    margin: 0 auto;
}

.box2 {
    display: block;
    width: 242px;
    margin: 0 auto;
    margin-top: 20px;
}

.box5 {
    width: 660px;
}

.box6 {
    width: 77px;
    margin-bottom: 24px;
}
}




