@keyframes boot {
  from { bottom: 200px;

  }
  to {
    bottom: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.bignigga {
  display:flex;
  gap: 16px;
  padding: 30px 20px;
}

.box1 {
  margin: 30px 60px;
  border: double 4px;
  border-radius: 10px;
  width: 60%;
  border-color: none ;
  animation-name: boot;
  animation-duration: 2s;
  position: relative;
  background-color: rgba(255, 202, 177,0.3);
  padding: 10px;
  z-index: 1;
  height: 460px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#hidden {
  z-index: -1;
  opacity: 0;
  text-align: center;
  align-items: center;
  position: relative;
  bottom: 260px;
}

#ree:hover ~  .box1 > .visible {
  opacity: 0;
  z-index: -1;
  transition: ease-out 700ms 200ms;
  transition-duration: 500ms;
}

#ree:hover ~ .box1 > #hidden {
  opacity: 1;
  z-index: 0;
  transition: ease-in-out 700ms 200ms;
  transition-duration: 500ms;
}

.box1 a {
  color: purple;
}

.justify-right {
  justify-content: flex-end;
  display: flex;
}

.hea1 {
  font-family:monospace;
}

.hee1 {
    font-family: monospace;
}

.pp {
    font-family:monospace;
}

#retard {
  float: right;
  height: 300px;
  margin-right: 5%;
  margin-top: 4%;
  animation-name: boot;
  animation-duration: 2s;
  position: relative;
}

.nigger1 {
  text-align: right;
  margin-right: 30px;
  animation-name: boot;
  animation-duration: 2s;
  position: relative;
}

.xd {
  border: 4px double;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 228, 227,0.4);
  width: 650px;
  animation-name: boot;
  animation-duration: 2s;
  position: relative;
}

.nigger1 a {
  color: purple;
}

.yuki {
  position: absolute;
  margin-left: 10%;
  margin-bottom: 100px;
}

.stupid {
  float: left;
  animation-name: boot;
  animation-duration: 2s;
  margin-left: 27%;
  position: relative;
}

.hee2 {
    font-size: small;
}

.fig {
  text-align: right;
}


.shi {
  position: relative;
  right: 500px;
  bottom: 79px;
}

body {
  background-image:url(https://i.ibb.co/s1Kr4KF/Konachan-com-373463-boots-cape-clouds-dress-flowers-frieren-green-eyes-leaves-long-hair-pointed-ears.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
}

.what1, .what2 {
  isolation: isolate;
}

.lee {
  font-size: smaller;
}

.line {
  max-width: 550px; 
  margin: auto;
}

.what {
  position: relative;
  margin-top: 2%;
  isolation: isolate;
}

th {
  border: solid 2px;
  padding: 10px;
  font-family: Verdana;
  font-size: small;
}

a {
  text-decoration: none;
  color: #B2B2F9;;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #FF6767;
}

@media (max-width: 1480px) {

.navbar {
  display: flex;
  justify-content:center;
  align-items:center;
  width: fit-content;
}

.navbar ul {
  text-align: center;
}

#ree {
  margin: 0 auto;
  width: 100px;
  float:none;
}

.box1 {
  height: 300px;
  overflow: auto;
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.box1::-webkit-scrollbar{ 
  width: 5px;
}

.box1::-webkit-scrollbar-thumb {
  background-color: black;
}

.nigger1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.fig {
  width: 50%;
}

#retard {
  float: none;
  width: 200px;
  height: auto;
}

figcaption {
  display: none;
}

.stupid {
  display: none;
}
}


.navbar {
  padding: 1px 2px;
  border: 4px double;
  border-radius: 8px;
  background-color: rgba(19, 19, 22, 0.7);
  border-color: white;
}

.navbar ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 3px 13px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.ex {
  margin: 0 auto;
  text-align: center;
  opacity: 0.50;
  padding-top: 10px;
}

