* {
  margin: 0;
  padding: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bignigga {
  display:flex;
  gap: 16px;
  padding: 30px 20px;
}

.box1 {
  border-radius: 10px;
  border: double 4px grey;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  margin-top: 27px;
  margin-left: 70px;
  width: 60%;
  position: relative;
  z-index: 1;
  padding-bottom: -10px;
  max-height: 440px;
}

.box1::before {
  content: "";
  background-color: rgb(255, 202, 177);
  position:absolute;
  inset: 0;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.50;
  border-radius: 10px;
}

.box1 a {
  color: purple;
}
.hea1, .pp, .hee2, .bocks1, .bockss, .pilgrim, .pp2, .cuc, .text, .nav{
  isolation: isolate;
}

.hea1 {
  font-family:monospace;
}

.hee1 {
    font-family: monospace;
}

.pp {
    font-family:monospace;
}

#retard {
  float: right;
  height: 300px;
  margin-right: 5%;
  margin-top: 4%;
}

.nigger1 {
  border-radius: 10px;
  border: double 4px grey;
  position: relative;
  width: 40%;
  padding: 10px 10px;
  margin-left: 57%;
  text-align: right;
}

.nigger1::before {
  content: "";
  background-color:rgb(255, 228, 227);
  position:absolute;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.50;
}

.nigger1 a {
  color: purple;
}
.yuki {
  position: absolute;
  margin-left: 10%;
  margin-bottom: 100px;
}

.stupid {
  position: absolute;
  margin-left: 27%;
}

.hee2 {
    font-size: small;
}

.fig {
  text-align: right;
}


.shi {
   position: relative;
   right: 500px;
   bottom: 79px;
}

body {
    background-image:url(https://media.discordapp.net/attachments/911909702001123398/1215793005211160627/Konachan.com_-_373463_boots_cape_clouds_dress_flowers_frieren_green_eyes_leaves_long_hair_pointed_ears_sky_sousou_no_frieren_staff_twintails_white_hair_xiamianhaiya.jpg?ex=65fe0a78&is=65eb9578&hm=3d2cd803c5c347a79634390509ccac98c764ef63c4be415da3838817db9ff96b&=&width=1024&height=701), url(https://media.discordapp.net/attachments/911909702001123398/1215861217604800574/Konachan.com_-_369692_boots_dress_flowers_gray_eyes_gray_hair_isekai_joucho_kamitsubaki_studio_long_hair_pantyhose_reoen.jpg?ex=65fe49ff&is=65ebd4ff&hm=571b429bdecc19fa2409bc8c043ae42ba4ab522374768493a8a07e377f67c931&=&width=1246&height=701);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: cover;
 
  
    left: 0;
    top: 0;
    width: 100%;
}

.bocks1 {
  border-radius: 10px;
  border: double 4px grey;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 7%;
  margin-right: 7%;
  position: relative;
  font-family: Haettenschweiler;
  margin-top: 2%;
  padding-top: 1%;
  isolation: isolate;
}

.bocks1::before {
  content: "";
  background-color: rgb(217, 219, 238);
  position:absolute;
  inset: 0;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.75;
}

.eiki {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.what1, .what2 {
  isolation: isolate;
}

.lee {
  font-size: smaller;
}



.line {
  max-width: 550px; 
  margin: auto;
}



.ppl {
  border-radius: 10px;
  border: double 4px grey;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  font-family: Haettenschweiler;
  margin-top: 2%;
  padding-top: 1%;
  isolation: isolate;
}

.ppl::before {
  content: "";
  background-color: rgb(227, 182, 238);
  position:absolute;
  inset: 0;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.75;
}

.what {
  position: relative;
  margin-top: 2%;
  isolation: isolate;
}

th {
  border: solid 2px;
  padding: 10px;
  font-family: Verdana;
  font-size: small;
}

.what::before {
  content: "";
  position:absolute;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  background-color: black;
}




a {
  text-decoration: none;
  color: #B2B2F9;;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #FF6767;
}

@media (max-width: 500px) {

.navbar {
  display: flex;
  justify-content:center;
  align-items:center;
  width: fit-content;
}

.navbar ul {
  text-align: center;
}

#ree {
  display: none;
}

.box1 {
  height: 270px;
  overflow: auto;
  width: 300px;
  margin: 0 auto;
}

.box1::before {
  background-color: rgb(255, 202, 177);
  height: 820px;
}

.bignigga {
    flex-direction: column;
    width: 100%;
  }

.nigger {
  display: none;
}

.nigger1 {
    width: 80%;
    margin:0 auto;
    text-align: center;
  }

.fig {
  width: 50%;
}

.retard {
  display: none;

}

figcaption {
  display: none;
}

.stupid {
  display: none;
}

.hidden {
  display: none;
}
}

.hidden {
  opacity: 0;
  position: absolute;
  font-family: verdana;
  z-index: -1;
  overflow: hidden;
  bottom: 190px;
  left: 250px;
  text-align: center;
}

.visible {
  opacity: 1;
  z-index: 1;
}

#mark {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-weight: bold;
}

#ree:hover ~ .box1 > .visible {
  opacity: 0;
  z-index: -1;
}

#ree:hover ~ .box1 > .hidden {
  opacity: 1;
  z-index: 1;
  transition: ease 700ms 150ms;
}

.navbar {
  padding: 1px 2px;
  border: 4px double;
  border-radius: 8px;
  background-color: rgba(19, 19, 22, 0.7);
  border-color: white;
}

.navbar ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 3px 13px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.ex {
  margin: 0 auto;
  text-align: center;
  opacity: 0.20;
}

